torch==2.7.1
torchvision==0.22.1
onnx==1.18.0
onnxruntime==1.22.0
onnx-tf==1.10.0
tensorflow==2.14.0
tensorflow_probability==0.22.1
tensorflow-addons==0.22.0
numpy==1.24.4
tqdm==4.67.1
matplotlib==3.8.3
ipywidgets==8.1.2